/package-info.class
/Fig1.class
/Amazon.class
/CDNProvider.class
/CloudHostingProvider.class
/CloudStorageProvider.class
/Dropbox.class
/Fig2.class
/CombustionEngine.class
/Driver.class
/ElectricEngine.class
/Engine.class
/Human.class
/Robot.class
/Transport.class
/Fig3.class
/Artist.class
/Company.class
/Designer.class
/Employee.class
/GameDevCompany.class
/OutsourcingCompany.class
/Programmer.class
/Tester.class
/Fig4.class
/AirShipping.class
/GroundShipping.class
/Order.class
/Shipping.class
